.is-good {
  background-color: #c7d32b;
}
.is-good:hover {
  border: none;
  background-color: #b7c226;
}

.text-good {
  color: #c7d32b;
}

.text-bad {
  color: #d33f2b;
}

.text-warning {
  color: #d3a62b;
}

input[type="file"] {
  display: none;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #c7d32b;
}

.navbar-link:hover {
  color: rgb(74, 74, 74);
  background-color: #ffffff;
}

.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  background-color: #ffffff;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #c7d32b;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
